<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1>Chat</h1>
    <div id="messages">
        <% messages.forEach(message => { %>
            <p><%= message.message %></p>
        <% }); %>
    </div>
    <form id="chatForm">
        <input type="text" id="message" placeholder="Type a message" required />
        <button type="submit">Send</button>
    </form>

    <script>
        const socket = io();

        document.getElementById('chatForm').addEventListener('submit', (e) => {
            e.preventDefault();
            const message = document.getElementById('message').value;
            socket.emit('sendMessage', {
                message: message,
                receiverId: '<%= userId %>'
            });
            document.getElementById('message').value = '';
        });

        socket.on('receiveMessage', (data) => {
            const messages = document.getElementById('messages');
            const newMessage = document.createElement('p');
            newMessage.innerText = data.message;
            messages.appendChild(newMessage);
        });
    </script>
</body>
</html>
